/* Estilos de Impressão */
@media print {
  body {
    background-color: white !important;
  }

  #app-container,
  .no-print {
    display: none !important;
  }

  #print-container {
    display: block !important;
  }

  @page {
    margin: 0;
  }

  .resume-wrapper {
    box-shadow: none !important;
    border: none !important;
    padding: 1.5cm !important;
    width: 100% !important;
  }

  a {
    text-decoration: none !important;
    color: inherit !important;
  }
}

@media screen {
  #print-container {
    display: none;
  }

  .doc-section pre{
    text-align: left;
  }

  .resume-page{
    padding: 1em;
  }
}

.fade-in {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 4px;
}